
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiPets</title>
</head>
<body>    
    <a href="{% url 'logout' %}">Salir</a>
    <form  method="post" action="/productos/" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>nombre:</td>
                <td>{{ form.nombre }}</td>
            </tr>
            <tr>
                <td>info:</td>
                <td>{{ form.info }}</td>
            </tr>
            <tr>
                <td>precio:</td>
                <td>{{ form.precio }}</td>
            </tr>
            <tr>
            <tr>
                <td>url:</td>
                <td>{{ form.img }}</td>
            </tr>
            <tr>
                <td>mascota:</td>
                <td>{{ form.mascota }}</td>
            </tr>
            <tr>
                <td>tipo:</td>
                <td>{{ form.tipo }}</td>
            </tr>
            <tr>
                <td><input type="submit" value="Grabar"></td>
                <td></td>
            </tr>
        </table>

    </form>
    <h1>Lista de Productos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>info</th>
                <th>precio</th>
                <th>url</th>
                <th>mascota</th>
                <th>tipo</th>
            </tr>
            {% for pro in producto %}
            <tr>
                <td>{{ pro.id_producto }}</td>
                <td>{{ pro.nombre }}</td>
                <td>{{ pro.info }}</td>
                <td>{{ pro.precio }}</td>
                <td><img src="{{ pro.img.url }}" width="40"></td>
                <td>{{ pro.mascota }}</td>
                <td>{{ pro.tipo }}</td>
                <td>
                    <a href="/edit/{{pro.id_producto}}">Modificar</a>
                </td>
                <td>
                    <a href="/delete/{{pro.id_producto}}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </thead>
    </table>


</body>
</html>