
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiPets</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    {% include "navbar.html" %}    
    <form  method="post" action="/productos/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container col-sm-8">
            <div class="row ">
                    <div class="h1-registroproducto">
                        <h1>Registrar producto<h1>
                    </div>
                <div class="col-sm-3"></div>
                
                <div class="col-sm-6 alert alert-secondary">

                    <div class="row ">
                        <div class="container">
                            <td>Nombre:</td>
                            <td>{{ form.nombre }}</td>
                        </div>
                        <div>
                            <td>Información del producto:</td>
                            <td>{{ form.info }}</td>
                        </div>
                        <div class="container"></div>
                        <div class="container">
                            <td>Precio:</td>
                            <td>{{ form.precio }}</td>
                        </div>
                        <div>
                            <td>Imagen:</td>
                            <td>{{ form.img }}</td>
                        </div>
                        <div>
                            <td>Mascota:</td>
                            <td>{{ form.mascota }}</td>
                        </div>
                        <div>
                            <td>Tipo:</td>
                            <td>{{ form.tipo }}</td>
                        </div>
                                                 
                    </div>
                        <div>
                        <button><input type="submit" value="Grabar"></button>
                        </div>   
                    
                </div>

                
            </div>
            
        </div>

    </form>
    <div class="listadoproductos-h1">
        <h1>Listado de Productos</h1>
    </div>

            
 <div class="listadoproductos">
    <table border="1" class="container">

        <thead class="container">
                       
            <tr class="container">
                <th>Id</th>
                <th>Nombre</th>
                <th>Información</th>
                <th>Precio</th>
                <th>Imágen</th>
                <th>Mascota</th>
                <th>Tipo</th>
            </tr>
            {% for pro in producto %}

            <tr class="container">
                <br>
                <td>{{ pro.id_producto }}</td>
                <td>{{ pro.nombre }}</td>
                <td>{{ pro.info }}</td>
                <td>{{ pro.precio }}</td>
                <td><img src="{{ pro.img.url }}" width="40"></td>
                <td>{{ pro.mascota }}</td>
                <td>{{ pro.tipo }}</td>
                <td class="btnModificar">
                    <a href="/edit/{{pro.id_producto}}">Modificar</a>
                </td>
                <td class="btnEliminar">
                    <a href="/delete/{{pro.id_producto}}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </thead>
    </table>
    </div>
    


    {% include "footer.html" %} 
</body>
</html>