{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiPets</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body id="resetpasswd"> 
{% include "navbar.html" %}   
<div class="container">
<br>
    <h3>Resetear contraseña</h3>
    
    <p>Olvidó su contraseña? Ingrese su email y le enviaremos instrucciones para actualizarla.</p>

    <form method="POST">
        {% csrf_token %}
        <br>
        <input required type="text" name="email" id="email" class="form-control" placeholder="Ingrese su correo electrónico" > 
                    <label for="email">Ingrese su Correo</label>
        <center><input id="btnRegistro" type="submit" value="Enviar email" /></center>
        
    </form>
        <p> 
        </div>
    {% include "footer.html" %}   
</body>
</html>

