{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiPets</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body id="resetpasswdfinal">
{% include "navbar.html" %} 
<br>
    <div class="container">
    <div id="fondoh3">
    <h3>Resetear contraseña</h3>
    </div>
    <br>
    <p>Se envió un correo con las instrucciones. Si su correo está registrado debería recibirlo en breve</p>
    <p>Si no ha recibido el correo asegurese de estar registrado o revise la carpeta SPAM</p>
    </div>
    <br>
    <center><a href="{% url 'index' %}" id="btnVolverIni" style="text-decoration: none;">Volver al Inicio</a></center>

</body>
</html>